<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no,
    width=device-width, height=device-height,
    initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>ng-webcam-sample</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body ng-app="webcam">

<main class="app container" ng-controller="webcamController as vm">
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <ng-webcam config="vm.config"
                       on-error="vm.onError(err)"
                       on-load="vm.onLoad()"
                       on-live="vm.onLive()"
                       on-capture-progress="vm.onCaptureProgress(src, progress)"
                       on-capture-complete="vm.onCaptureComplete(src)"></ng-webcam>
        </div>
        <div class="col-md-12">
            <p id="progress">Progress: {{vm.progress}}%</p>
        </div>
        <div class="col-md-12 buttons" ng-if="vm.showButtons">
            <button class="btn btn-primary" type="button" ng-disabled="!vm.captureButtonEnable" ng-click="vm.capture()">Capturar</button>
            <button class="btn btn-primary" type="button" ng-click="vm.off()">Desligar camera</button>
            <button class="btn btn-primary" type="button" ng-click="vm.on()">Ligar camera</button>
        </div>
    </div>
    <div id="result" class="row"></div>
</main>

<script src="vendors/angular/angular.min.js"></script>
<script src="vendors/webcamjs/webcam.min.js"></script>
<script src="bower_components/ng-webcam/dist/ng-webcam.js"></script>

<script src="angular/app.js"></script>
<script src="angular/controller.js"></script>

</body>
</html>