body {
    background-color: #444444;
    font-size: 20px;
    color: azure;
}
main {
    margin: 20px auto;
    max-width: 640px;
}
.buttons {
    text-align: center;
}
.ng-webcam {
    margin: 0 auto;
    text-align: center;
}